<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">
                <div class="card">

                    <div class="content">
                        <center>
                            <h1><?=\Cake\Core\Configure::read('system.name')?></h1>
                        </center>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>